<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/angularApp.js'></script>
  </head>
  <body>
    <h1><%= title %> code<br />
        <small>can be somewhat problematic</small>
    </h1>
    <p>Despite all this, the <%= title %> thing is working</p>
  </body>
</html>
